.pelicula-details {
    display: flex;
    gap: 20px;
}

.poster-image {
    max-width: 300px;
    height: auto;
}

.movie-info {
    flex: 1;
}

.tagline {
    font-style: italic;
    margin-top: 5px;
    color: #666;
}

.genres {
    margin-top: 10px;
}

.genres span {
    margin-right: 10px;
}

.production-companies {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.company-logo {
    max-width: 60px;
    height: auto;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.my-carousel .picsum-img-wrapper {
    background-color: black;
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.my-carousel .picsum-img-wrapper img {
    width: 70%;
    height: auto;
    object-fit: cover;
}